<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>Copyright © Alexandre J. (Allezxandre)</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>in.jouand.switcherdndprefs</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable SwitcherDND</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>in.jouand.switcherdndprefs</string>
			<key>key</key>
			<string>Behavior</string>
			<key>label</key>
			<string>Ringer mode behavior</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Physical Switch</string>
				<string>Set to ON on boot</string>
				<string>Set to OFF on boot</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Physical Switch</string>
				<string>Always ON</string>
				<string>Always OFF</string>
			</array>
			<key>staticTextMessage</key>
			<string>If &quot;Physical Switch&quot; is selected, the ringer will be set to the switch&apos;s state on each respring/reboot. </string>
		</dict>
	</array>
	<key>title</key>
	<string>SwitcherDND</string>
</dict>
</plist>
